

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <MatSelectValue @bind-Value="@model.Hero" Items="@GetSortedHeroes()"
                    ValueSelector="@(i=>i.NameEnum)" FullWidth="true">
        <ItemTemplate>
            <span>@context?.Name</span>
        </ItemTemplate>
    </MatSelectValue>
</div>

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <MatSelectValue @bind-Value="@model.Opponent" Items="@GetSortedHeroes()"
                    ValueSelector="@(i=>i.NameEnum)" FullWidth="true">
        <ItemTemplate>
            <span>@context?.Name</span>
        </ItemTemplate>
    </MatSelectValue>
</div>

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
    <MatNumericUpDownField Label="Rows" @bind-Value="@model.Limit" />
</div>

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
    <MatNumericUpDownField Label="MMR Tier" @bind-Value="@model.Tier" />
</div>

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <MatButton Raised="true" Outlined="true" OnClick="ExecuteSearch" Style="height:86%">Search</MatButton>
</div>


@code {

    KnownSearchModel model = new KnownSearchModel();
    List<HeroModel> heroes;

    [Parameter]
    public EventCallback<KnownSearchModel> OnSearch { get; set; }

    async Task ExecuteSearch()
    {
        await OnSearch.InvokeAsync(model);
    }

    List<HeroModel> GetSortedHeroes()
    {
        return heroes ?? (heroes = HeroMappings.GetHeroesMap().OrderBy(h => h.Name).ToList());
    }
}
